h2 {
	font-family:'Lobster', cursive;
}

/* column colors */
/* div[class*="col-"] { */
	/* background-color: yellow; */
	/* border: 1px solid black; */
/* } */

/***
*  Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/* corrects IE min-height bug */
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-heigh: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/* HEADER STYLES */
header {
	background-color: aqua;
	color: white;
	padding: 2rem 0;
}

header h2 {
	text-shadow: 2 px 2px 2px black;
	margin-top: 0;
}

/* FOOTER STYLES */
footer {
	background-color: black;
	padding: 2rem 0;
	color: #aaa;
	font-style: italic;
}

/* CONTENT AREA */
main {
	padding: 4rem 0;
}

.box {
	background-color: #eee;
	padding: 2rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
	border: 2px #ddd solid;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.2)
}

