h2 {
	font-family:'Lobster', cursive;
}

/* column colors */
/* div[class*="col-"] { */
	/* background-color: yellow; */
	/* border: 1px solid black; */
/* } */

/***
*  Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/* corrects IE min-height bug */
html { display: flex;}
body { width: 100X;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-heigh: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}